In [1]:
import pandas as pd
import numpy as np
from utils import *
import re

In [2]:
df = pd.read_csv("mcu.csv")

In [3]:
df.head()

,Unnamed: 0,character,line,movie,year,words,Adam McKay,Anna Boden,Art Marcum,Ashley Edward Miller,...,Joss Whedon,Justin Theroux,Mark Fergus,Matt Holloway,Paul Rudd,Ryan Coogler,Ryan Fleck,Shane Black,Stephen McFeely,Zack Stentz
0,0,TONY STARK,"Oh, I get it. You guys aren’t allowed to talk...",Iron Man,2008,22,False,False,True,False,...,False,False,True,True,False,False,False,False,False,False
1,1,IRON MAN JIMMY,No. We’re allowed to talk.,Iron Man,2008,6,False,False,True,False,...,False,False,True,True,False,False,False,False,False,False
2,2,TONY STARK,Oh. I see. So it’s personal.,Iron Man,2008,8,False,False,True,False,...,False,False,True,True,False,False,False,False,False,False
3,3,RAMIREZ,I think they’re intimidated.,Iron Man,2008,4,False,False,True,False,...,False,False,True,True,False,False,False,False,False,False
4,4,TONY STARK,"Good God, you’re a woman. I, honestly, I could...",Iron Man,2008,31,False,False,True,False,...,False,False,True,True,False,False,False,False,False,False

In [4]:
movies = df["movie"].unique()

In [5]:
movies

array(['Iron Man', 'Iron Man 2', 'Thor',
       'Captain America: The First Avenger', 'The Avengers', 'Iron Man 3',
       'Thor: The Dark World', 'Captain America: The Winter Soldier',
       'Avengers: Age of Ultron', 'Ant-Man', 'Captain America: Civil War',
       'Guardians of the Galaxy Vol. 2', 'Spider-Man: Homecoming',
       'Thor: Ragnarok', 'Black Panther', 'Avengers: Infinity War',
       'Captain Marvel', 'Avengers: Endgame'], dtype=object)

In [6]:
villains = {
    "Obadiah Stane": ["Iron Man"],
    "Ivan Vanko": ["Iron Man 2"],
    "Loki Laufeyson": ["Thor", "The Avengers", "Thor: The Dark World"],
    "Johann Schmidt": ["Captain America: The First Avenger"],
    "Ultron": ["Avengers: Age of Ultron"],
    "Darren Cross": ["Ant-Man"],
    "Helmut Zemo": ["Captain America: Civil War"]
}

In [7]:
heroes = {
    "Tony Stark": ["Iron Man", "Iron Man 2", "Iron Man 3", "The Avengers", "Avengers: Age of Ultron", "Avengers: Infinity War", "Avengers: Endgame"],
    "James Rhodes": ["Iron Man 2", "Iron Man 3", "Avengers: Age of Ultron", "Captain America: Civil War", "Avengers: Endgame"],
    "Thor Odinson": ["Thor", "The Avengers", "Thor: The Dark World", "Avengers: Age of Ultron", "Thor: Ragnarok", "Avengers: Infinity War", "Avengers: Endgame"],
    "Steve Rogers": ["Captain America: The First Avenger", "The Avengers", "Captain America: The Winter Soldier", "Avengers: Age of Ultron", "Captain America: Civil War", "Avengers: Infinity War", "Avengers: Endgame"],
    "Bruce Banner": ["The Avengers", "Avengers: Age of Ultron", "Thor: Ragnarok", "Avengers: Endgame"],
    "Hulk":["Avengers: Infinity War"],
    "Natasha Romanoff": ["The Avengers", "Avengers: Age of Ultron", "Captain America: The Winter Soldier", "Avengers: Infinity War", "Avengers: Endgame"],
    "Clint Barton": ["The Avengers", "Avengers: Age of Ultron", "Captain America: Civil War", "Avengers: Endgame"],
    "Vision": ["Avengers: Age of Ultron", "Captain America: Civil War", "Avengers: Infinity War"],
    "Wanda Maximoff": ["Avengers: Age of Ultron", "Captain America: Civil War", "Avengers: Infinity War", "Avengers: Endgame"],
    "Peter Parker": ["The Avengers", "Captain America: Civil War", "Spider-Man: Homecoming", "Avengers: Infinity War", "Avengers: Endgame"],
    "Scott Lang": ["Ant-Man", "Captain America: Civil War", "Ant-Man and The Wasp", "Avengers: Endgame"],
    "T'Challa": ["Captain America: Civil War", "Black Panther", "Avengers: Infinity War", "Avengers: Endgame"],
    "Stephen Strange": ["Doctor Strange", "Thor: Ragnarok", "Avengers: Infinity War", "Avengers: Endgame"],
    "Rocket": ["Guardians of the Galaxy Vol. 2", "Avengers: Infinity War", "Avengers: Endgame"],
    "Groot": ["Guardians of the Galaxy Vol. 2", "Avengers: Infinity War", "Avengers: Endgame"],
    "Gamora": ["Guardians of the Galaxy Vol. 2", "Avengers: Infinity War", "Avengers: Endgame"],
    "Star-Lord": ["Guardians of the Galaxy Vol. 2", "Avengers: Infinity War", "Avengers: Endgame"],
    "Drax": ["Guardians of the Galaxy Vol. 2", "Avengers: Infinity War", "Avengers: Endgame"],
    "Mantis": ["Guardians of the Galaxy Vol. 2", "Avengers: Infinity War", "Avengers: Endgame"]
}

In [8]:
mc_df = df[['character', 'movie', 'line']]

In [9]:
mc_df

,character,movie,line
0,TONY STARK,Iron Man,"Oh, I get it. You guys aren’t allowed to talk..."
1,IRON MAN JIMMY,Iron Man,No. We’re allowed to talk.
2,TONY STARK,Iron Man,Oh. I see. So it’s personal.
3,RAMIREZ,Iron Man,I think they’re intimidated.
4,TONY STARK,Iron Man,"Good God, you’re a woman. I, honestly, I could..."
...,...,...,...
15719,STEVE ROGERS,Avengers: Endgame,It isn’t.
15720,SAM WILSON,Avengers: Endgame,Thank you. I’ll try my best.
15721,STEVE ROGERS,Avengers: Endgame,That’s why it’s yours.
15722,SAM WILSON,Avengers: Endgame,You gonna tell me about her?
15723,STEVE ROGERS,Avengers: Endgame,Nope. I don’t think I will.

In [10]:
mc_df["character"] = mc_df["character"].apply(lambda x: x.lower())

/var/folders/fr/g38hffys3lbdjhb5h18vy6nh0000gn/T/ipykernel_85006/3871402507.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mc_df["character"] = mc_df["character"].apply(lambda x: x.lower())

In [11]:
mc_df["movie"] = mc_df["movie"].apply(lambda x: x.lower())

/var/folders/fr/g38hffys3lbdjhb5h18vy6nh0000gn/T/ipykernel_85006/1838779889.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mc_df["movie"] = mc_df["movie"].apply(lambda x: x.lower())

In [12]:
heroes =  {key.lower() : [x.lower() for x in value] for key, value in heroes.items()}

In [13]:
villains =  {key.lower() : [x.lower() for x in value] for key, value in villains.items()}

In [14]:
mc_df["role"] = [np.nan] * len(mc_df)

/var/folders/fr/g38hffys3lbdjhb5h18vy6nh0000gn/T/ipykernel_85006/3144844630.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mc_df["role"] = [np.nan] * len(mc_df)

In [15]:
def match_role(df, character_role_dict, role):
    characters = df["character"]
    index = 0
    for character in characters:
        if character in character_role_dict:
            df.at[index, "role"] = role
        index+=1
    return df

In [16]:
mc_df_1 = match_role(mc_df, heroes, "hero")

/var/folders/fr/g38hffys3lbdjhb5h18vy6nh0000gn/T/ipykernel_85006/2630661837.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.at[index, "role"] = role

In [17]:
mc_df_2 = match_role(mc_df, villains, "villain")

In [18]:
mc_df_2

,character,movie,line,role
0,tony stark,iron man,"Oh, I get it. You guys aren’t allowed to talk...",hero
1,iron man jimmy,iron man,No. We’re allowed to talk.,NaN
2,tony stark,iron man,Oh. I see. So it’s personal.,hero
3,ramirez,iron man,I think they’re intimidated.,NaN
4,tony stark,iron man,"Good God, you’re a woman. I, honestly, I could...",hero
...,...,...,...,...
15719,steve rogers,avengers: endgame,It isn’t.,hero
15720,sam wilson,avengers: endgame,Thank you. I’ll try my best.,NaN
15721,steve rogers,avengers: endgame,That’s why it’s yours.,hero
15722,sam wilson,avengers: endgame,You gonna tell me about her?,NaN
15723,steve rogers,avengers: endgame,Nope. I don’t think I will.,hero

In [19]:
mc_df_3 = mc_df_2[mc_df_2[['role']].notna().all(axis=1)]

In [20]:
mc_df_3

,character,movie,line,role
0,tony stark,iron man,"Oh, I get it. You guys aren’t allowed to talk...",hero
2,tony stark,iron man,Oh. I see. So it’s personal.,hero
4,tony stark,iron man,"Good God, you’re a woman. I, honestly, I could...",hero
6,tony stark,iron man,Please.,hero
8,tony stark,iron man,Excellent question. Yes and no. March and I ha...,hero
...,...,...,...,...
15715,steve rogers,avengers: endgame,That’s kind of why I’m here.,hero
15717,steve rogers,avengers: endgame,I had a little time to travel. Try it on. How ...,hero
15719,steve rogers,avengers: endgame,It isn’t.,hero
15721,steve rogers,avengers: endgame,That’s why it’s yours.,hero
15723,steve rogers,avengers: endgame,Nope. I don’t think I will.,hero

In [21]:
def clean_lines(df):
    clean_lines = []
    for line in df["line"]:
        clean_line = clean_txt(line)
        clean_lines.append(clean_line)
    df["line"] = clean_lines
    return df

In [22]:
mc_df_4 = clean_lines(mc_df_3)

/var/folders/fr/g38hffys3lbdjhb5h18vy6nh0000gn/T/ipykernel_85006/3387498177.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["line"] = clean_lines

In [23]:
mc_df_4

,character,movie,line,role
0,tony stark,iron man,oh i get it you guys aren’t allowed to talk is...,hero
2,tony stark,iron man,oh i see so it’s personal,hero
4,tony stark,iron man,good god you’re a woman i honestly i couldn’t ...,hero
6,tony stark,iron man,please,hero
8,tony stark,iron man,excellent question yes and no march and i had ...,hero
...,...,...,...,...
15715,steve rogers,avengers: endgame,that’s kind of why i’m here,hero
15717,steve rogers,avengers: endgame,i had a little time to travel try it on how do...,hero
15719,steve rogers,avengers: endgame,it isn’t,hero
15721,steve rogers,avengers: endgame,that’s why it’s yours,hero
15723,steve rogers,avengers: endgame,nope i don’t think i will,hero

In [27]:
mc_df_4["line_sw"] = mc_df_4["line"].apply(lambda x: rem_sw(x))

/var/folders/fr/g38hffys3lbdjhb5h18vy6nh0000gn/T/ipykernel_85006/394088095.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mc_df_4["line_sw"] = mc_df_4["line"].apply(lambda x: rem_sw(x))

In [28]:
mc_df_4

,character,movie,line,role,line_sw
0,tony stark,iron man,oh i get it you guys aren’t allowed to talk is...,hero,oh get guys aren’t allowed talk allowed talk
2,tony stark,iron man,oh i see so it’s personal,hero,oh see it’s personal
4,tony stark,iron man,good god you’re a woman i honestly i couldn’t ...,hero,good god you’re woman honestly couldn’t called...
6,tony stark,iron man,please,hero,please
8,tony stark,iron man,excellent question yes and no march and i had ...,hero,excellent question yes march schedule conflict...
...,...,...,...,...,...
15715,steve rogers,avengers: endgame,that’s kind of why i’m here,hero,that’s kind i’m
15717,steve rogers,avengers: endgame,i had a little time to travel try it on how do...,hero,little time travel try feel
15719,steve rogers,avengers: endgame,it isn’t,hero,isn’t
15721,steve rogers,avengers: endgame,that’s why it’s yours,hero,that’s it’s
15723,steve rogers,avengers: endgame,nope i don’t think i will,hero,nope don’t think

In [30]:
role_c = mc_df_4.pop('role')  
mc_df_4.insert(1, 'role', role_c)  # Insert column 'C' at position 0

In [31]:
mc_df_4

,character,role,movie,line,line_sw
0,tony stark,hero,iron man,oh i get it you guys aren’t allowed to talk is...,oh get guys aren’t allowed talk allowed talk
2,tony stark,hero,iron man,oh i see so it’s personal,oh see it’s personal
4,tony stark,hero,iron man,good god you’re a woman i honestly i couldn’t ...,good god you’re woman honestly couldn’t called...
6,tony stark,hero,iron man,please,please
8,tony stark,hero,iron man,excellent question yes and no march and i had ...,excellent question yes march schedule conflict...
...,...,...,...,...,...
15715,steve rogers,hero,avengers: endgame,that’s kind of why i’m here,that’s kind i’m
15717,steve rogers,hero,avengers: endgame,i had a little time to travel try it on how do...,little time travel try feel
15719,steve rogers,hero,avengers: endgame,it isn’t,isn’t
15721,steve rogers,hero,avengers: endgame,that’s why it’s yours,that’s it’s
15723,steve rogers,hero,avengers: endgame,nope i don’t think i will,nope don’t think

In [37]:
mc_df_4["line_sw_stem"] = mc_df_4["line_sw"].apply(stem_fun)

/var/folders/fr/g38hffys3lbdjhb5h18vy6nh0000gn/T/ipykernel_85006/2815836916.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  mc_df_4["line_sw_stem"] = mc_df_4["line_sw"].apply(stem_fun)

In [40]:
xform = vec_fun(mc_df_4["line"], 1, 1, True, "mcu_xform", "output/")

In [41]:
#word counts for each line in mc_df_4 

xform

,aaaaarg,aaaahhhhh,aaah,aaand,aaarrrgh,aah,aahhhh,aaskvarian,abandon,abates,...,zaps,zardu,zemo,zero,zip,zola,zone,zoo,zucchini,zuri
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6331,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6332,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6333,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6334,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6335,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
mcu_df_all = pd.concat([mc_df_4, xform], axis=1).reindex(mc_df_4.index)

In [45]:
mcu_df_all.to_csv("Cleaned MCU sheet with word count vectors for each line")